body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #434455;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-logo {
  color: #2e2f42;
}

.header-menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link {
  color: #2e2f42;
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-link {
  color: #434455;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main,
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.main-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-btn {
  
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--IRIS, #4d5ae5);
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background: var(--OCEAN, #404bbf);
}

.main-item {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.main-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-team {
  background: var(--CLOUD, #f4f4fd);
}
.section-team-menu {
  background: var(--WHITE, #fff);
}

.main-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-team-item {
  background-color: #ffffff;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-footer-logo {
  color: #f4f4fd;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
